.entirePage {
  background-color: #393941;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  /* align-Items: center; */
  overflow-y: auto;
  margin-left: 19rem;
}

.studentPage {
  width: 45%;
  height: 84.5%;
  padding: 2.5rem;
  position: fixed;
  top: 9.75%;
  width: 69.5%;
  overflow-y: auto;
}

.studentPage::-webkit-scrollbar {
  display: none;
}

@media (max-width: 480px) {
  .studentPage {
    position: fixed;
    right: 147px;
  }
}

.studentTaskList {
  color: #f0f0f0;
  font-size: 2rem;
  font-weight: 400;
}

.headerName {
  text-align: center;
  padding: 0.5rem;
}

.task-checkbox {
  height: 30px;
  width: 100px;
  margin-top: 1.25rem;
}

/* Global accordion styling */
.accordion {
  background-color: #393941;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  overflow: hidden;
  color: #f0f0f0;
}

/* Header styling for the accordion */
.accordion-header {
  background-color: #3d3d46;
  padding: 5px 15px;
  font-weight: bold;
  color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
}

.accordion-header:hover {
  background-color: #0d0f4a;
}

.due-date {
  background-color: none;
  padding: 0.5rem;
}

.due-today {
  background-color: red;
  padding: 0.5rem;
}

.due-soon {
  background-color: #ffbf00;
  padding: 0.5rem;
}

/* Arrow indicator for the accordion state (collapsed/expanded) */
.accordion-arrow {
  float: right;
  padding: 0.5rem;
}

.expansion {
  margin: 1rem;
}

/* Styling for the content inside the accordion */
.accordion-content {
  background-color: #fff;
  padding: 10px 15px;
  border-top: 1px solid #e0e0e0;
}

/* Display block only when the accordion is active */
.accordion.active .accordion-content {
  display: block;
}

.descriptionHeader {
  display: flex;
}

.descriptionBody {
  margin-top: 0rem;
}

.apptDateDiv {
  margin-left: 30rem;
}

.update-button {
  border-radius: 4px;
  /* background-color: #333; */
  background-color: #0d0f4a;
  color: #f0f0f0;
  padding: 10px 10px;
  font-weight: bold;
  border: none;
  width: 240px;
  margin-top: 0.75rem;
}

.update-button:hover {
  background-color: rgb(251, 140, 0, 0.8);
  border: none;
  color: #f0f0f0;
}

.sortButton {
  border-radius: 4px;
  /* background-color: #333; */
  background-color: #0d0f4a;
  color: #f0f0f0;
  padding: 10px 10px;
  font-weight: bold;
  border: none;
  width: 240px;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.sortButton:hover {
  background-color: rgb(251, 140, 0, 0.8);
  border: none;
  color: #f0f0f0;
}
