.entirePage {
  background-color: #393941;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  /* align-Items: center; */
  overflow-y: auto;
  margin-left: 19rem;
}

.studentPage {
  /* background-color: #4f515e; */
  /* border: 1px  solid red; */
  width: 45%;
  height: 84.5%;
  /* border-radius: 20px; */
  padding: 2.5rem;
  position: fixed;
  /* align-items: center; */
  top: 9.75%;
  width: 69.5%;
  overflow-y: auto;
}

.studentPage::-webkit-scrollbar {
  display: none;
}

.studentTaskList {
  /* border: 1px solid red; */
  color: #f0f0f0;
  font-size: 2rem;
  font-weight: 400;
}

/* .task-checkbox {
border: 1px  solid red;
} */

.headerName {
  /* border: 1px  solid red; */
  text-align: center;
  padding: 0.5rem;
}

/* Global accordion styling */
.accordion {
  background-color: #393941;
  /* border: 1px  solid red; */
  border-radius: 5px;
  margin-bottom: 0.5rem;
  /* padding: 1.5rem; */
  overflow: hidden;
}

/* Header styling for the accordion */
.accordion-header {
  background-color: #393941;
  /* border: 1px  solid red; */
  padding: 10px 15px;
  font-weight: bold;
  color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  /* justify-content: space-between; */
}

.accordion-header:hover {
  background-color: #0d0f4a;
}

.due-date {
  /* border: 1px  solid red; */
  background-color: none;
  padding: 0.5rem;
}

.due-today {
  background-color: red;
  padding: 0.5rem;
}

.due-soon {
  background-color: #ffbf00;
  padding: 0.5rem;
}

/* Arrow indicator for the accordion state (collapsed/expanded) */
.accordion-arrow {
  /* border: 1px  solid red; */
  float: right;
  padding: 0.5rem;
  /* margin-left: 33rem;  */
}

.expansion {
  margin: 1rem;
}

/* Styling for the content inside the accordion */
.accordion-content {
  background-color: #fff;
  padding: 10px 15px;
  border-top: 1px solid #e0e0e0;
}

/* Display block only when the accordion is active */
.accordion.active .accordion-content {
  display: block;
}
