.studentlist_taskprogress_bigcontainer {
    position: fixed;
    left: 310px;
    top: 320px;
    width: 70%;
}

.studentlist_h2 {
    color:#f0f0f0;
    text-align: left;
}

.studentlist_taskprogress_bigcontainer {
    margin: 20px;
}

.studentlist_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid transparent;
}

.studentlist_table th,
.studentlist_table td {
    padding: 10px;
    text-align: center;
}

.studentlist_table th {
    background-color: #4F515E;
    color:#f0f0f0;
    text-align: center;
    margin-bottom: 10px;
}

.studentlist_table tr:nth-child(even) {
    background-color: #4F515E;
    color: #f0f0f0;
}

.studentlist_tabledata {
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

/* .studentlist_tabledata:hover {

} */    