.studentlist_taskprogress_bigcontainer {
  width: 100%;
  overflow-y: auto;
  margin-top: 30px;
}

.studentlist_taskprogress_bigcontainer::-webkit-scrollbar {
  display: none;
}

.studentlist_headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.studentlist_h2 {
  color: #f0f0f0;
  text-align: left;

}

.studentList_cohort_buttons {
  align-content: end;
  display: inline-block; 
}

.studentlist_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid transparent;
}

.studentlist_table td {
  padding: 10px;
  text-align: center;
}

.studentlist_table th {
  /* background-color: #4f515e; */
  background-color: #3A455A;
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 10px;
  font-size:large;
  padding: 15px;
}

.studentlist_table th:hover{
    cursor: pointer;
    color: rgb(239, 132, 1);
}

.studentlist_table tr:nth-child(even) {
  background-color: #4f515e;
  /* background-color: #3A455A; */
  color: #f0f0f0;
}

.studentlist_tabledata {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.studentlist_tabledata:hover {
  color: #EF6E47;
  cursor: pointer;
}



@media (max-width: 405px) {
  .studentlist_table th {
  font-size: 12px;

  }
  .studentlist_table td {
  font-size: 13px;
  }
  .studentlist_h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .studentlist_headerContainer {
    display: block;
  }

}