.average_cohort_container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.average_cohort_container::-webkit-scrollbar {
  display: none;
}

.average_cohort_title {
  text-align: left;
  width: 90%;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
}
