.average_cohort_container{
    position: fixed;
    left: 24%;
    top: 90px;
    width: 80%;
    overflow: scroll;
}
.average_cohort_title{
    text-align: center;
    width: 90%;
}

@media(max-width: 1024px){
    .average_cohort_container{
        left: 250px;
    }
}