.RegisterPage_BG{
    position: fixed;
    background-color: #393941;
    color: #f0f0f0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.RegisterPage_Container{
    width: 50%;
    min-width: 640px;
    height: 80%;
    min-height: 640px;
    background-color: #4F515E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}