.Passcode_BG{
    position: fixed;
    background-image: url("../../public/logIn.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;     
    color: #f0f0f0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Passcode_Container{
    width: 30%;
    min-width: 330px;
    height: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.RegisterPasscode_Title{
    font-size: 2rem;
}

.passcode_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%; 
}
.passcode_form label {
    text-align: center;
}
.passcode_form input{
    padding: 8px;
    margin-bottom: 12px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; 
    box-sizing: border-box;
}
#registerPasscode_submit {  /* Button */
    background-color: #0D0F4A;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    width: 50%;
    transition: background-color 0.3s, transform 0.2s;
}
#registerPasscode_submit:hover{
    background-color: #EF6E47;
    transform: scale(1.05);
}
.passCode_notes{ /* Description under button */
    font-size: .875rem;
}

@media (max-width:850px) {
    .Passcode_Container{
        justify-content: center;
        height: 30%;
        min-width: 200px;
    }
    .RegisterPasscode_Title{
        font-size: 1rem;
    }
    .passcode_form label {
        font-size: .875rem;
    }
    .passcode_notes{
        font-size: .5rem;
    }
    #registerPasscode_submit{
        font-size: .5rem
    }
}