.AddTask_Circle{
    z-index: 500;
    height: 3.9rem;
    width: 3.9rem;
    position: fixed; 
    bottom: 1.5rem; 
    right: 1.5rem;
    cursor: pointer;
    background-color: #393941;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 6px solid transparent;
}
.AddTask_Circle:hover {
    background-color: #393941;
    border: 6px solid rgb(251, 140, 0);
}

/* .AddTask_Circle_Plus{
    font-size: 3rem;
    margin: 0;
    color: black;
    transition: transform 0.2s, color 0.3s;
} */

/* .AddTask_Circle:hover{
    background-color: #0D0F4A;
    transform: scale(1.05);
}
.AddTask_Circle:hover .AddTask_Circle_Plus {
    color: #f0f0f0;
}
.AddTask_Circle:active{
    background-color: #EF6E47;
    transform: scale(1.15);
}
.AddTask_Circle:active .AddTask_Circle_Plus {
    color: black;
} */




