/* .managerSide_Bar_Container{
 position: fixed;
 left: 0;
 top: 90px;
 width: 20%;
 height: 85vh;
 min-width: 225px;
 background-color: #3A455A;
 padding-top: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
} */
.managerSide_Bar_Container {
  background-color: #a7a7a74d; 
  border-bottom: none;
  border-top: none;
  border-left: none;
  width: 300px;
  height: 90vh;
  box-shadow: 11px 11px 20px 5px rgba(0, 0, 0, 0.2);
  margin-block-end: 0;
  margin-block-start: 0;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  text-align: center;
  left: 0;
  top: 80px
}

.managerSide_Bar_Select {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    width: 90%;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-bottom: whitesmoke 2px solid;
    background-color: transparent;
    margin-bottom: 10px;
  }

  .managerSide_Bar_Select:hover {
    transition: .3s;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    color: black;
  }

.studentCardsContainer{
    display:flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    align-items: center;
}