.ManagerContent_Container {
	width: 70%;
	height: 85%;
	overflow-y: auto;
	min-width: 600px;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
}

.ManagerContent_Container::-webkit-scrollbar {
  display: none;
}

/* @media (max-width: 1024px) {
  .ManagerContent_Container {
    left: 250px;
  }
} */


@media (max-width: 405px) {
	.ManagerContent_Container {
		min-width: 360px;
	}
}