.ManagerContent_Container {
	width: 70%;
	height: 85%;
	overflow-y: auto;
	min-width: 850px;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

.ManagerContent_Container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  .ManagerContent_Container {
    left: 250px; /* Will need to adjust in future*/
  }
}
