.Register_Student_Title {
  font-size: 2rem;
  text-align: center;
}
.Register_Student_Form_Input_Container {
  width: 80%;
}

.Register_Student_Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.Register_Student_Form label {
  text-align: center;
}

.Register_Button:hover {
  background-color: #ef6e47;
  transform: scale(1.05);
}

.Register_Student_Form_Additional_Input_Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.Register_Manager_Form_Input_Name {
  display: flex;
  width: 100%;
}
.Clearance_Container {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}
.Clearance_Container label {
  display: block;
  margin-bottom: 10px;
}
<<<<<<< HEAD

=======
>>>>>>> 343c10137d4a3c1741ac473b3983a486ec4b0bed
.Clearance_Container option,
.BranchSelection option {
  background-color: #2b2a33;
  color: #ccc;
  font-size: 0.875rem;
}
.BranchSelection {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

.BranchSelection label,
.BranchSelection select {
  display: block;
  margin-bottom: 10px;
}
.Register_Student_Branch {
  /* Select for branch */
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Select_RowContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
}
.CenteredRow_ETS_Date {
  width: 25%;
  margin-top: 5px;
}
