.navStudent_cards{
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
    text-align: left;
    border-radius: 0;
    padding: 1rem 1.5rem;
}
.navStudent_cards:hover{
    transition: .3s;
    background-color: transparent;
    background-color: #2c3545;
    outline: none;
}
.navStudent_cards:active{
    transform: scale(1.05);
    transition: .1s;
    outline: none;
}