.studentInfo-bigcontainer {
  background-color: rgba(49, 58, 75, 0.8);
  border-bottom: none;
  border-top: none;
  border-left: none;
  width: 300px;
  height: 100vh;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  margin-block-end: 0;
  margin-block-start: 0;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  text-align: center;
  left: 0;
  top: 80px;
  overflow-y: auto;
}


@media (max-width: 480px) {
  .studentInfo-bigcontainer {
    width: 25%;
  }

  .studentInfo {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #mySideNav {
    visibility: hidden;
  }

  .accordion {
    transform: translate(calc(784px - 100%));
    position: relative;
    width: calc(100vw - 105px);
    right: 475px;
  }
}

.studentInfo-text {
  color: #f0f0f0;
}

.studentInfo-fetch {
  background-color: rgba(55, 67, 90, 0.6);
  border: 3px solid rgb(81, 97, 126);
  padding: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.studentInfo-fetch:hover {
  border: 3px solid rgb(251, 140, 0, 0.6);
}

.studentInfo-key {
  padding-right: 5px;
  color: rgb(119, 152, 213);
  font-weight: bold;
}

.studentInfo-value {
  color: rgb(119, 152, 213);
  font-weight: normal;
}

@media (max-width: 405px) {
  .studentInfo-bigcontainer {
    top: 65px;
  }
}
